#home
  %div.container.col-xs-12
    %h1= link_to 'Sunday', sunday_path

    %h1= link_to 'Monday', monday_path

    %h1= link_to 'Tuesday', tuesday_path

    %h1= link_to 'Wednesday', wednesday_path

    %h1= link_to 'Thursday', thursday_path

    %h1= link_to 'Friday', friday_path

    %h1= link_to 'Saturday', saturday_path
