#user
  %div.col-xs-12
    %h2 User: #{@user.name}. E-mail: #{@user.email}
    %h3 Last order: Order№ #{link_to  @user.orders.last.id, user_order_path(@user, id: @user.orders.last.id) if @user.orders.last}
    %div.col-xs-6
      %ul Orders:
      - @user.orders.each do |o|
        %li Order № #{link_to o.id, user_order_path(@user, id: o.id)}
    %div.col-xs-8
      - if current_user.admin || current_user
        %h3 #{link_to 'All orders', user_orders_path(user_id: @user.id)} | #{link_to 'Edit my profile', edit_user_path}
